## Name : Mishthi Bhatiya
## Course : BDAT 1004 (Data Programming)
## Assignment : Problem Set 2
## Student ID : 200521516

## Question 1:

In [7]:
a = 0
def b(): #function b() is defined.
 global a
 a = c(a) #function c(a) is defined, which takes a parameter a and returns a + 2.
def c(a):
 return a + 2

In [8]:
b()
#Here, the first call to b() is made, which calls c(a) with the current value of a (which is 0).
# This assigns the result (2) to a. 
#So,the value of a is now 2.

b()
#Here, the second call to b() is made, which calls c(a) with the current value of a (which is 2).
#This assigns the result (4) to a.
#So,the value of a is now 4.

b()
#Here,the third call to b() is made, which calls c(a) with the current value of a (which is 4). 
#This  assigns the result (6) to a. 
#So,the value of a is now 6.

a
#Here,a is evaluated, it has the value 6, so that is what is returned in the output.

6

## Question 2:

In [2]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [3]:
fileLength('r.py')

File r.py not found.

In [4]:
fileLength('filename.py')
fileLength('midterm.py')
fileLength('idterm.py')

File filename.py not found.
File midterm.py not found.
File idterm.py not found.

## Question 3:

In [79]:
class Marsupial:  # Define a Marsupial class with an empty pouch list as its instance variable.

    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self, item): # Define a method to add an item to the pouch list.
        self.pouch.append(item)
    def pouch_contents(self): # Define a method to return the contents of the pouch list.
        return self.pouch

class Kangaroo(Marsupial): # Define a Kangaroo class that inherits from the Marsupial class.
    def __init__(self, x,a):
        Marsupial.__init__(self)
        self.x=x
        self.a=a
    def jump(self, dx, da): # Define a method to update the Kangaroo's coordinates.
        self.x+=dx
        self.x+=da
    def __str__(self): # Define a method to return a string representation of the Kangaroo's coordinates.
        return "I am a Kanagaroo located at coordinates ("+str(self.x)+","+str(self.a)+")"

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
ak=k.pouch_contents()
print(ak)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

#This code defines two classes, Marsupial and Kangaroo, and demonstrates how the Kangaroo class can inherit attributes and methods from the Marsupial class. 
#The Marsupial class defines a simple pouch for holding items, while the Kangaroo class adds methods for jumping and tracking coordinates.

I am a Kanagaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagaroo located at coordinates (3,0)

## Question 4:

In [21]:
def collatz(x):
   # The function collatz(x) takes an integer x as input and returns a list of integers representing the Collatz sequence for x.
   #The Collatz sequence is a sequence of integers obtained by repeatedly applying the Collatz function to the previous term in the sequence, where the Collatz function is defined as follows:
        #a. If the current term (x) is even, divide it by 2.
        #b. f the current term(x) is odd , multiply it by 3 and add 1.
    
    if x== 1:
        return [1]
    elif x%2==0:
        return[x] + collatz(x//2)
    else:
        return[x] + collatz(3*x + 1)

In [22]:
collatz(1)

[1]

In [23]:
collatz(10)

[10, 5, 16, 8, 4, 2, 1]

## Question 5:

In [1]:
def binary(n):   #If n is 0, we print 0 (the binary representation of 0).
                #If n is 1, we print 1 (the binary representation of 1).
                #If n is greater than 1, we recursively call binary(n // 2) to print the binary representation of n // 2.
                #After the recursive call, we print n % 2 (the remainder when n is divided by 2), which represents the rightmost digit of n in binary.
    if n == 0:
        print('0', end='')
    elif n == 1:
        print('1', end='')    # we use end='' to suppress the newline character that print() normally appends to its output. This ensures that the binary digits are printed on a single line.
    else:
        binary(n // 2)
        print(n % 2, end='')
        
         #calling binary(n) with a non-negative integer n will print the binary representation of n.

In [2]:
binary(0)

0

In [3]:
binary(9)

1001

In [4]:
binary(256)

100000000

In [5]:
binary(257)

100000001

## Question 6:

In [53]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)
            
infile = open("C:/Users/bhati/Downloads/w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)



#We define a new class called HeadingParser that inherits from HTMLParser.
#We define a constructor that calls the constructor of the HTMLParser superclass, and initializes two instance variables: self.headings (a list to store the headings we find) and self.indentation (the current indentation level).
#We override the handle_starttag method to handle start tags (i.e., opening tags) of heading elements. If the tag is an h1, h2, h3, etc., we set the indentation level to the appropriate value (one less than the heading level), and add the full start tag (including any attributes) to the self.headings list.
#We override the handle_data method to handle text content inside heading elements. If the text is not empty and we have any headings in the self.headings list, we add the text to the most recently added heading.
#We define a new method called print_headings that prints each heading in the self.headings list, one per line, with the appropriate indentation.
#With this implementation, we can create a new HeadingParser object, feed it an HTML document, and then print the headings using the print_headings method:

W3C Mission
 Principles

## Question 7:

In [54]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    # print the URL with the given indentation
    print(" "*indent + url)

    # if we have reached the maximum depth, return
    if depth == 0:
        return

    try:
        # fetch the web page
        response = requests.get(url)

        # parse the HTML content
        soup = BeautifulSoup(response.content, 'html.parser')
         # find all links on the page
        links = soup.find_all('a')

        # recursively visit each link
        for link in links:
            href = link.get('href')
            if href.startswith('http'):
                webdir(href, depth - 1, indent + 4)

    except requests.exceptions.RequestException:
        # handle any exceptions that may occur
        pass

In [55]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [56]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 3, 7)

       http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

## Question 8:

In [81]:
# Creating a table named 'cityInfo' using requisite syntax and using all the data provided to create table cityInfo

import sqlite3
con = sqlite3.connect('cityinformation8.db')
cur = con.cursor()

cur.execute("CREATE TABLE cityinformation8 (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityinformation8 VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityinformation8 VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityinformation8 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# Selcting all the data from the cityInfo table 
cur.execute('SELECT * FROM cityinformation8')
cur.fetchall()

#This code demonstrates how to use the sqlite3 library to connect to an SQLite database file and interact with its tables.
#The comments provide clear explanations of each step, making the code easy to understand and follow. 
#The CREATE TABLE and INSERT INTO SQL statements create a new table and insert data into it, respectively.
#The SELECT statement retrieves all the data from the cityinformation1 table, and the fetchall() method retrieves all the rows as a list of tuples.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

##  Question 8(a)

In [70]:

cur.execute('SELECT Temperature FROM cityinformation1')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

##  Question 8(b)

In [71]:

cur.execute('SELECT DISTINCT(City) FROM cityinformation1')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

##  Question 8(c)

In [72]:

cur.execute('SELECT * FROM cityinformation1 where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

##  Question 8(d)

In [73]:
cur.execute('SELECT * FROM cityinformation1 where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

##  Question 8(e)

In [74]:
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM cityinformation1 GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

##  Question 8(f)

In [75]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityinformation1 where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

##  Question 8(g)

In [76]:
cur.execute('SELECT SUM(Rainfall) FROM cityinformation1 WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

##  Question 8(h)

In [77]:
cur.execute('SELECT Season, SUM(Rainfall) FROM cityinformation1 GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9:

In [24]:
 word = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

In [33]:
i = [elements.upper() for elements in word]
print (i)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [34]:
j = [elements.lower() for elements in word]
print(j)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
z = [len(elements) for elements in word]
print(z)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [36]:
k = [[elements.upper(),elements.lower(),len(elements)] for elements in word]
print(k)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [37]:
l = [elements for elements in word if len(elements)>=4]
print(l)

['quick', 'brown', 'jumps', 'over', 'lazy']